body{
    background-color: red;
    font-family: font-family 'Graduate', cursive;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Shantell Sans', cursive;;
}