body {
    background-color: burlywood;
}

div {
    font-size: x-large;
    text-align: center;
}

div::after {
    content: "Welcome to the Demo";
}

@media (max-width: 400px) {
    body {
        background-color: darkred;
    }
    div::after {
        content: "Hello World";
    }
}
/* @media (min-width: 400px) and (max-width: 700px) { */
    @media (min-width: 700px) {
    body {
        background-color: yellow;
    }
    div::after {
        content: "Heeeeee";
    }
}

@media (min-width: 700px) and (max-width: 900px) {
    /* If viewport is 700px then style will apply */
    body {
        background-color: fuchsia;
    }
    div::after {
        content: "Woah its working";
    }
}

@media (min-width: 900px) {
    /* If viewport is 900px then style will apply */
    body {
        background-color: aqua;
    }
    div::after {
        content: "Winter is coming";
    }
}
